$--primary-color: #1890ff; // 全局主色
$--link-color: #1890ff; // 链接色
$--success-color: #52c41a; // 成功色
$--warning-color: #faad14; // 警告色
$--error-color: #f5222d; // 错误色
$--font-size-base: 14px; // 主字号
$--heading-color: rgba(0, 0, 0, 0.85); // 标题色
$--text-color: rgba(0, 0, 0, 0.65); // 主文本色
$--text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$--disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$--border-radius-base: 2px; // 组件/浮层圆角
$--border-color-base: #d9d9d9; // 边框色
$--box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

$--el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
  0px 8px 20px rgba(0, 0, 0, 0.08);
$--el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
$--el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
$--el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
  0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);

$--primary-color-hover: rgba(24, 144, 255, 0.8);
$--error-color-hover: rgba(245, 34, 45, 0.8);
$--warning-color-hover: rgba(250, 173, 20, 0.8);

// container
$--header-padding: 20px;
$--content-padding: 20px;
$--footer-padding: 20px;

[class^='xiao-'],
[class*='xiao-'],
[class^='xiao-'] *,
[class*='xiao-'] *,
[class^='xiao-'] *:before,
[class*='xiao-'] *:before,
[class^='xiao-'] *:after,
[class*='xiao-'] *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

// row col
.xiao-row {
  display: flex;
}
